<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Autodidactors</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://visjs.org/dist/vis.css">
  <link rel="stylesheet" href="style.css">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body ng-app="autodidactorApp">
  <img src="./logo.png" class="logo">
  <div ng-controller="autodidactorCtrl as vm">
      <md-autocomplete
      ng-disabled="ctrl.isDisabled"
      md-no-cache="ctrl.noCache"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl.searchText"
      md-selected-item-change="ctrl.selectedItemChange(item)"
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text="item.display"
      md-min-length="0"
      placeholder="What is your favorite US state?">
    <md-item-template>
      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
    </md-item-template>
    <md-not-found>
      No states matching "{{ctrl.searchText}}" were found.
      <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
    </md-not-found>
  </md-autocomplete>


    <input type="text" class="text-input" placeholder="enter subject..." ng-model="vm.searchInput"
           ng-change="vm.getSubjectAutocomlete(vm.searchInput)">
    <button ng-click="vm.search(vm.searchInput)" class="search-button"></button>
    <p>{{ vm.subjectOptions }}</p>

    <div>
      <div id="temp-response" style="border: 1px solid black">
        <h2>Response</h2>
        <p>
          {{ vm.graphJson }}
        </p>
      </div>
      <div id="mynetwork" class="graph-holder"></div>

    </div>
  </div>
</body>

<script src="./node_modules/lodash/lodash.js"></script>
<script src="http://visjs.org/dist/vis.js"></script>
<script src="./node_modules/angular/angular.js"></script>
<script src="./graph.js"></script>
<script src="./all.js"></script>
<script src="./computers.js"></script>




</html>